
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="tarjetas-contenedor" th:fragment="tarjetas-contenedor">
    <div th:each="evento : ${eventos}" class="tarjeta">
        <img th:src="@{${evento.imagen != null ? evento.imagen : '/default.jpg'}}" alt="Imagen del evento">


        <div class="tarjeta-info">

            <h3 th:text="${evento.nomEvento}">Nombre del evento</h3>
            <p th:text="${evento.lugar}">Lugar del evento</p>

        </div>
    </div>
</div>
</body>
</html>
