<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="login.css" rel="stylesheet">
</head>

<body>
<div class="row">
  <div class="login">
    <img src="resources/uabcl.png" alt="Logo UABCL" class="logo">
    <h1>Iniciar Sesión</h1>

    <div class="panel-header"></div>
    <div class="panel-body">
      <div class="panel-form">
        <div class="form-group">
          <i class='bx bx-home-alt-2' style="font-size: 3em; color: black;"></i>
          <input type="text" class="form-control" placeholder="Correo Electrónico:" autocomplete="off">
        </div>

        <hr style="border: none; height: 2px; background-color: #585757; width: 100%;">

        <div class="form-group">
          <i class='bx bx-lock-alt' style="font-size: 3em; color: black;"></i>
          <input type="password" class="form-control" placeholder="Contraseña:">
        </div>


      </div>
      <button class="btn btn-success" type="submit">Iniciar sesión</button>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>
