<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/gpiLogo2.jpg" type="image/x-icon">
    <title>Alta de Evento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/style.css">

    <style>
        .toast {
    opacity: 1 !important;
}
    </style>
</head>


<body>
<div class="top"></div>

<!-- Header -->
<header class="header">
    <div style="display: flex; align-items: center;">
        <img src="/Logo3.jpg" alt="Logo UABC" style="width: 60px; height: 50px; margin-right: 20px; margin-left: 90px">
        <div>
            <h1 style="color: #007141; margin: 0;">Universidad Autónoma de Baja California</h1>
            <h3 style="color: black; margin: 0;">SISTEMA INTEGRAL DE EVENTOS</h3>
        </div>
    </div>
    <div class="user-info">
        <i class='bx bxs-user-circle'></i>
        <div class="user-details">
            <h1>Bienvenido, <span th:text="${nombre}">Nombre</span>!</h1>
            <p>Correo: <span th:text="${email}">Correo</span></p>
        </div>
    </div>
</header>

<!-- Contenedor Principal -->
<div class="contenedorPrincipal">
    <!-- Menú lateral -->
    <div class="leftSide-contenedor">
        <div class="leftSide">
            <a href="/home">
                <div class="contenidoLeft">
                    <i class='bx bxs-home-alt-2'></i>
                    <h3>Inicio</h3>
                </div>
            </a>
            <a href="/etiquetas/nueva" th:if="${rol.matches('SUPERADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-add-to-queue'></i>
                    <h3>Crear Etiquetas</h3>
                </div>
            </a>
            <a href="/etiquetas/consulta" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-folder-plus'></i>
                    <h3>Consultar Etiquetas</h3>
                </div>
            </a>
            <a href="/eventos/consultar" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-book-open'></i>
                    <h3>Consultar Eventos</h3>
                </div>
            </a>
            <a href="/logout">
                <div class="contenidoLeft">
                    <i class='bx bx-task-x'></i>
                    <h3>Salir</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="Forma">
        <h2 class="form-title">Alta de Evento</h2>
        <div id="mensajeToast" style="display: none;"></div>
        <form id="altaEventoForm" action="/eventos/guardar" method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nombreEvento" class="form-label">Nombre del evento</label>
                    <input type="text" class="form-control" id="nombreEvento" name="nomEvento" placeholder="Nombre" required pattern="[A-Za-z\s]+" title="Solo letras son permitidas">
                </div>
                <div class="col-md-6">
                    <label for="campus" class="form-label">Campus</label>
                    <select class="form-control" id="campus" name="campus" onchange="cargarFacultades()" required>
                        <option value="">Seleccione el campus</option>
                        <option value="Mexicali">Campus Mexicali</option>
                        <option value="Tijuana">Campus Tijuana</option>
                        <option value="Ensenada">Campus Ensenada</option>
                        <option value="Unidad Valle de las Palmas">Unidad Valle de las Palmas</option>
                        <option value="Tecate">Campus Tecate</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="facultad" class="form-label">Facultad</label>
                    <select class="form-control" id="facultad" name="facultad" required>
                        <option value="">Seleccione la facultad</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="horaInicio" class="form-label">Hora de Inicio</label>
                    <input type="time" class="form-control" id="horaInicio" name="horaInicio" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="horaFinal" class="form-label">Hora de Fin</label>
                    <input type="time" class="form-control" id="horaFinal" name="horaFinal" required>
                </div>
                <div class="col-md-6">
                    <label for="fechaEvento" class="form-label">Fecha del evento</label>
                    <input type="date" class="form-control" id="fechaEvento" name="fecha" placeholder="DD/MM/AA" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="lugar" class="form-label">Lugar</label>
                    <input type="text" class="form-control" id="lugar" name="lugar" placeholder="Seleccione lugar del evento" required pattern="[A-Za-z\s]+" title="Solo letras son permitidas">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="etiquetas" class="form-label">Seleccione la(s) etiqueta(s)</label>
                    <select class="form-control" id="etiquetas" name="etiquetasSeleccionadas" multiple required>
                        <!-- Recorrer las etiquetas para mostrarlas en la lista -->
                        <th:block th:each="etiqueta : ${etiquetas}">
                            <option th:value="${etiqueta.idEtiquetas}" th:text="${etiqueta.nomEtiquetas}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="descripcion" class="form-label">Descripción del evento</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Texto..." required></textarea>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="imagenes" class="form-label">Imagen del evento</label>
                        <input type="file" class="form-control" id="imagenes" name="imagenes" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="encargado" class="form-label">Encargado</label>
                    <input type="text" class="form-control" id="encargado" name="encargado" placeholder="Nombre del encargado" required pattern="[A-Za-z\s]+" title="Solo letras son permitidas">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="estado" class="form-label">Estado</label>
                    <select class="form-control" id="estado" name="estado" required>
                        <option value="">Seleccione el estado del evento</option>
                        <option value="En Curso">En Curso</option>
                        <option value="Proximo">Próximo</option>
                        <option value="Finalizado">Finalizado</option>
                        <option value="Cancelado">Cancelado</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="capacidad" class="form-label">Capacidad</label>
                    <input type="number" class="form-control" id="capacidad" name="capacidad" placeholder="Capacidad de asistentes" required min="1">
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-success btn-aceptar">Aceptar</button>
                <button type="reset" class="btn btn-danger btn-cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Cargar etiquetas desde el servidor (opcional)
        fetch('/eventos/etiquetas')
            .then(response => response.json())
            .then(data => {
                const selectEtiquetas = document.getElementById('etiquetas');
                data.forEach(etiqueta => {
                    const option = document.createElement('option');
                    option.value = etiqueta.id;
                    option.text = etiqueta.nombre;
                    selectEtiquetas.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar las etiquetas:', error));

        // Validar fecha del evento
        const fechaEvento = document.getElementById('fechaEvento');
        const today = new Date().toISOString().split('T')[0];
        fechaEvento.setAttribute('min', today);

        // Validar el horario de inicio y fin
        const horaInicio = document.getElementById('horaInicio');
        const horaFinal = document.getElementById('horaFinal');
        const altaEventoForm = document.getElementById('altaEventoForm');

        altaEventoForm.addEventListener('submit', function (e) {
            if (horaFinal.value <= horaInicio.value) {
                e.preventDefault();
                alert('La hora de fin debe ser posterior a la hora de inicio.');
            }
        });
    });

    function cargarFacultades() {
        const facultadSelect = document.getElementById("facultad");
        const campusSelect = document.getElementById("campus").value;

        // Limpiar las facultades anteriores
        facultadSelect.innerHTML = '<option value="">Seleccione la facultad</option>';

        const facultades = {
            "Mexicali": [
                "Facultad de Ciencias Humanas",
                "Facultad de Ingeniería",
                "Facultad de Derecho",
                "Facultad de Ciencias Administrativas",
                "Facultad de Medicina",
                "Facultad de Odontología",
                "Facultad de Deportes",
                "Facultad de Idiomas"
            ],
            "Tijuana": [
                "Facultad de Contaduría y Administración",
                "Facultad de Derecho",
                "Facultad de Economía y Relaciones Internacionales",
                "Facultad de Medicina y Psicología",
                "Facultad de Odontología",
                "Facultad de Ciencias Químicas e Ingeniería",
                "Facultad de Artes",
                "Facultad de Deportes",
                "Facultad de Idiomas",
                "Escuela de Ciencias de la Salud",
                "Facultad de Turismo y Mercadotecnia"
            ],
            "Ensenada": [
                "Facultad de Ciencias",
                "Facultad de Ciencias Marinas",
                "Facultad de Ingeniería, Arquitectura y Diseño",
                "Facultad de Ciencias Administrativas y Sociales",
                "Facultad de Idiomas",
                "Escuela de Enología y Gastronomía",
                "Instituto de Investigaciones Oceanológicas"
            ],
            "Unidad Valle de las Palmas": [
                "Facultad de Ciencias de la Salud",
                "Facultad de Ingeniería y Negocios",
                "Facultad de Ciencias de la Ingeniería y Tecnología"
            ],
            "Tecate": [
                "Facultad de Ingeniería y Negocios"
            ]
        };

        // Cargar facultades correspondientes al campus seleccionado
        if (facultades[campusSelect]) {
            facultades[campusSelect].forEach(facultad => {
                const option = document.createElement("option");
                option.value = facultad;
                option.text = facultad;
                facultadSelect.appendChild(option);
            });
        }
    }


</script>

<script th:inline="javascript">
    var mensaje = [[${mensaje}]];
    var tipoMensaje = [[${tipoMensaje}]];

    if (mensaje && mensaje !== '') {
        if (tipoMensaje === 'exito') {
            toastr.success(mensaje, '', {
                "positionClass": "toast-top-right",
                "toastClass": "toast",
                "timeOut": "5000",
                "closeButton": true,
                "progressBar": true,
                "newestOnTop": true,
                "backgroundColor": "#007141",
                "opacity": 1
            });
        } else if (tipoMensaje === 'error') {
            toastr.error(mensaje, '', {
                "positionClass": "toast-top-right",
                "toastClass": "toast",
                "timeOut": "5000",
                "closeButton": true,
                "progressBar": true,
                "newestOnTop": true,
                "backgroundColor": "#d9534f",
                "opacity": 1
            });
        }
    }
</script>
</body>

<footer th:fragment="footer" class=" text-white text-center p-1">
    <p>&copy; 2024 Universidad Autónoma de Baja California. Todos los derechos reservados.</p>
</footer>



</html>