<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Profesores</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link href="/templates/style.css" rel="stylesheet"/>

</head>
<body>
<div class="contenedorPrincipal">
    <div class="leftSide-contenedor">
        <div class="leftSide">

            <a href="altaProfesor.html">
                <div class="contenidoLeft">
                    <i class='bx bxs-contact'></i>
                    <h3>Inicio</h3>
                </div>
            </a>
            <a href="consultaProfesores.html">
                <div class="contenidoLeft">
                    <i class='bx bx-street-view'></i>
                    <h3>Crear Eventos</h3>
                </div>
            </a>
            <a href="altaUnidadesDeAprendizaje.html">
                <div class="contenidoLeft">
                    <i class='bx bx-folder-plus'></i>
                    <h3>Crear Etiquetas</h3>
                </div>
            </a>
            <a href="consultaUnidadesDeAprendizaje.html">
                <div class="contenidoLeft">
                    <i class='bx bx-collection'></i>
                    <h3>Consultar Eventos</h3>
                </div>
            </a>
            <a href="login.html">
                <div class="contenidoLeft">
                    <i class='bx bxs-exit'></i>
                    <h3>Consultar Estadisticas</h3>
                </div>
            </a>
            <a href="consultaUnidadesDeAprendizaje.html">
                <div class="contenidoLeft">
                    <i class='bx bx-collection'></i>
                    <h3>Salir</h3>
                </div>
            </a>
        </div>
    </div>

    <form class="Forma">
        <h2>Crear Etiquetas</h2>
        <div class="subForma">
            <div>
                <div class="campo">
                    <label for="nombreEtiqueta">Nombre Etiqueta</label>
                    <input type="text" id="nombreEtiqueta" class="textInput" autocomplete="off" placeholder="Nombre Etiqueta"/>
                </div>
                <div class="campo">
                    <label for="colorEtiquetas">Color</label>
                    <input type="text" id="colorEtiquetas" class="textInput" autocomplete="off"placeholder="#FFFFFF"/>
                </div>
                <div class="campo">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" id="descripcion" class="textInput" autocomplete="off" placeholder="Descripcion"/>
                </div>
            </div>
        </div>

        <div class="botones">
            <button type="submit" class="boton col-1">Aceptar</button>
            <button type="button" class="boton col-2" onclick="window.location.reload();">Cancelar</button>
        </div>
    </form>
</div>

</body>
</html>
