<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Etiquetas</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="/style.css" rel="stylesheet"/>
</head>
<style>
    .toast {
     opacity: 1 !important;
 }
</style>

<body>
<div class="top"></div>

<!-- Header -->
<header class="header">
    <div style="display: flex; align-items: center;">
        <img src="/Logo.webp" alt="Logo UABC" style="width: 100px; height: 150px; margin-right: 20px;">
        <div>
            <h1 style="color: #007141; margin: 0;">Universidad Autónoma de Baja California</h1>
            <h3 style="color: black; margin: 0;">SISTEMA INTEGRAL DE EVENTOS</h3>
        </div>
    </div>
    <div class="user-info">
        <i class='bx bxs-user-circle'></i>
        <div class="user-details">
            <h1>Bienvenido, <span th:text="${nombreusuario}">Nombre</span>!</h1>
            <p>Correo: <span th:text="${email}">Correo</span></p>
        </div>
    </div>
</header>

<!-- Contenedor Principal -->
<div class="contenedorPrincipal">
    <!-- Menú lateral -->
    <div class="leftSide-contenedor">
        <div class="leftSide">
            <a href="/home">
                <div class="contenidoLeft">
                    <i class='bx bxs-contact'></i>
                    <h3>Inicio</h3>
                </div>
            </a>
            <a href="/etiquetas/consulta" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-collection'></i>
                    <h3>Consultar Etiquetas</h3>
                </div>
            </a>
            <a href="/eventos/alta" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-street-view'></i>
                    <h3>Crear Eventos</h3>
                </div>
            </a>
            <a href="/eventos/consultar" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-collection'></i>
                    <h3>Consultar Eventos</h3>
                </div>
            </a>
            <a href="/logout">
                <div class="contenidoLeft">
                    <i class='bx bx-collection'></i>
                    <h3>Salir</h3>
                </div>
            </a>
        </div>
    </div>

    <form class="Forma" action="/etiquetas/guardar" method="POST">
        <h2>Crear Etiquetas</h2>
        <div class="subForma">
            <div class="campo">
                <label for="NomEtiquetas">Nombre Etiqueta</label>
                <input type="text" name="nombre" id="NomEtiquetas" class="textInput" autocomplete="off" placeholder="Nombre Etiqueta"/>
            </div>
            <div class="campo">
                <label for="Color">Escoge el color de la etiqueta</label>
                <div style="display: flex; align-items: center;">
                    <input type="color" name="color" id="Color" class="textInput" autocomplete="off" value="#FFFFFF" style="width: 50px; height: 50px; border: none;"/>
                    <input type="text" name="colorHex" id="ColorHex" class="textInput" value="#FFFFFF" readonly style="margin-left: 15px; width: 100px; text-align: center;"/>
                </div>
            </div>
            <div class="campo">
                <label for="Descripcion">Descripcion</label>
                <input type="text" name="descripcion" id="Descripcion" class="textInput" autocomplete="off" placeholder="Descripcion"/>
            </div>
        </div>
        <div class="botones">
            <button type="submit" class="boton col-1">Aceptar</button>
            <button type="button" class="boton col-2" onclick="window.location.reload();">Cancelar</button>
        </div>
    </form>
</div>


<!-- Pie de Página -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const colorInput = document.getElementById('Color');
    const colorHexInput = document.getElementById('ColorHex');

    colorInput.addEventListener('input', () => {
        colorHexInput.value = colorInput.value;
    });
</script>

<script th:inline="javascript">

    var mensaje = [[${mensaje}]];


    if (mensaje && mensaje !== '') {

        toastr.success(mensaje, '', {
            "positionClass": "toast-top-right",
            "toastClass": "toast",
            "timeOut": "5000",
            "closeButton": true,
            "progressBar": true,
            "newestOnTop": true,
            "backgroundColor": "#007141",
            "opacity": 1
        });

    }
</script>
<footer >
    <p>&copy; 2024 Universidad Autónoma de Baja California. Todos los derechos reservados.</p>
</footer>
</body>

</html>
