
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/gpiLogo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link href="/style.css" rel="stylesheet"/>
    <title>INICIO</title>
</head>

<body>
<div class="top"></div>

<!-- Header -->
<header class="header">
    <div style="display: flex; align-items: center;">
        <img src="/Logo3.jpg" alt="Logo UABC" style="width: 60px; height: 50px; margin-right: 20px; margin-left: 90px">
        <div>
            <h1 style="color: #007141; margin: 0;">Universidad Autónoma de Baja California</h1>
            <h3 style="color: black; margin: 0;">SISTEMA INTEGRAL DE EVENTOS</h3>
        </div>
    </div>
    <div class="user-info">
        <i class='bx bxs-user-circle'></i>
        <div class="user-details">
            <h1>Bienvenido, <span th:text="${nombre}">Nombre</span>!</h1>
            <p>Correo: <span th:text="${email}">Correo</span></p>
        </div>
    </div>
</header>

<!-- Contenedor Principal -->
<div class="contenedorPrincipal">
    <!-- Menú lateral -->
    <div class="leftSide-contenedor">
        <div class="leftSide">
            <a href="/etiquetas/nueva" th:if="${rol.matches('SUPERADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-add-to-queue'></i>
                    <h3>Crear Etiquetas</h3>
                </div>
            </a>
            <a href="/etiquetas/consulta" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-collection'></i>
                    <h3>Consultar Etiquetas</h3>
                </div>
            </a>
            <a href="/eventos/alta" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-street-view'></i>
                    <h3>Crear Eventos</h3>
                </div>
            </a>
            <a href="/eventos/consultar" th:if="${rol.matches('SUPERADMIN|ADMIN')}">
                <div class="contenidoLeft">
                    <i class='bx bx-collection'></i>
                    <h3>Consultar Eventos</h3>
                </div>
            </a>
            <a href="/logout">
                <div class="contenidoLeft">
                    <i class='bx bx-task-x'></i>
                    <h3>Salir</h3>
                </div>
            </a>
        </div>
    </div>
    <main>
        <h1 class="titulo">Bienvenido a Nuestro Sitio Web</h1>

        <div th:replace="~{fragments/carruselEventos :: carruselEventos}"></div>

        <div class="container mt-5">
            <h2>Lista De Eventos</h2>
            <div th:replace="~{fragments/tarjetasCarrusel :: tarjetas-contenedor}"></div>
        </div>
    </main>


</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Footer -->
<footer >
    <p>&copy; 2024 Universidad Autónoma de Baja California. Todos los derechos reservados.</p>
</footer>

</body>
</html>
